@font-face {
	font-family: Chakra;
	src: url("../Fonts/ChakraPetch-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Sen;
	src: url("../Fonts/Sen-Regular.ttf");
	font-weight: normal;
}
